[flake8]
max-line-length = 100

inline-quotes = double
multiline-quotes = double
docstring-quotes = double

ignore =
    # C408: Unnecessary (dict/list/tuple) call - rewrite as a literal
    #
    # Calling directly dict/list/tuple is more obvious & explicit, making it
    # easier to read.
    C408,
    B008,

    # C812 missing trailing comma
    # C813 missing trailing comma in Python 3
    # C815 missing trailing comma in Python 3.5+
    #
    # Conflicts with Black.
    C812,
    C813,
    C815,

    # D202: No blank lines allowed after function docstring
    # https://github.com/psf/black/issues/709
    D202,

    # E203: whitespace before ':'
    #
    # Black wants below in case of complex indexing (2+ variables in
    # start/stop/step section):
    # range(100)[start : stop : step * some_modifier]
    #
    # While Flake8 wants below:
    # range(100)[start:stop:step * some_modifier]
    E203,

    # E501: line too long
    #
    # In Black strings can exceed max-line-length. For example, Black will not
    # format a very long URL, where Flake8 will raise E501 violation.
    E501,

    # D10X: missing docstring in public methods
    #
    # More often than not docstrings are unnecessary, especially with
    # descriptive name followed by self-documenting signature embellished with
    # type hints.
    D100, D101, D102, D103, D104, D105, D106, D107,

    # W503: line break before binary operator
    #
    # Arbitrary preference to break before the operator, as it makes easy to
    # match operators with operands.
    # See: https://github.com/PyCQA/pycodestyle/issues/197#issuecomment-219742628
    W503

exclude =
    .git,
    .venv,
    __pycache__,
    old,
    build,
    dist,
    venv*,
    */conftest.py
    *--demo*
    migrations/versions/*
    alembic/versions/*

per-file-ignores =
    app/conf.py:F401, F403
    alembic/env.py:E402
    */__init__.py:E402, F401

    # dir/some_file.py: E402

max-complexity = 10
